<div class="d-flex card flex-column mb-3 justify-content-center m-2 p-2" style="min-height: 80vh">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100" *ngFor="let app of apps">
                <img src="/assets/{{app.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{app.name}}</h5>
                    <p class="card-text">{{app.description}}</p>
                </div>
                <div class="card-footer">
                    <a [routerLink]="[app.link]"> explore </a>
                </div>
            </div>
        </div>
    </div>
</div>